backend/config.json
backend/.envbackend/.env
backend/config.json
backend/.env
node_modules/
backend/node_modules/
backend/controllers/firebase.ts
frontend/scholars-orbit/src/utils/otpFirebase.js
backend/.env
backend/config.json
backend/.env
backend/config.json
